@model  EStateDevelopment.Areas.Admin.ViewModel.RoleViewModel

@{
    ViewBag.Title = "Area of Stock";
    Layout = "~/Views/Shared/_Layout-Admin.cshtml";
}
<script src="~/Scripts/jquery-1.8.0.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="card stacked-form">
    <div class="card-header">
        <h5 class="card-title">Add Area Of Stock</h5>
        @if (TempData["response"] != null)
        {
            <div class="alert alert-danger" id="msgalert">
                @TempData["response"].ToString()
            </div>
        }
    </div>
    <div class="card-body">
        @using (Html.BeginForm("AddAreaOfStouck", "Configuration", FormMethod.Post))
        {
            <div class="row">
                <div class="form-group col-md-5">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Area Of Stock", } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger db" })


                </div>
            </div>
            <div class="col-md-12 mr-auto ml-auto">
                <button type="submit" class="btn btn-fill btn-info btn-wd fr">Submit</button>
            </div>


        }
    </div>

</div>
<script>
    setTimeout(function () {
        $("#msgalert").hide();
    }, 3500);
</script>




